<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Hello World</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    
  </head>
<!-- I switche to the option API, because the Composition API see to not working in my broswer-->
  <body>
    
    <script type="module">
      // import { createApp } from 'vue'
      
      Vue.createApp({
        data() {
          return {
            message: ' Hello World !',
            isRed: true,
            color: 'lightgreen',
            show: true,
            list: [1, 2, 3, 4, 5, 6]
          }
        },
        methods: {
          toggleRed() {
            this.isRed = !this.isRed;
          },
          toggleColor() {
            this.color = this.color === 'lightgreen' ? 'lightblue' : 'purple'
          },
          reverseMessage() {
            this.message = this.message.split('').reverse().join('')
          },
          notify() {
            alert('navigation was prevented.')
          }
        }
      }).mount('#app')
      </script>
      
      <div id="app">
        <!--
          Note we don't need .value inside templates because
          refs are automatically "unwrapped" in templates.
        -->
        <h1 :style="{ color }" @click="toggleColor" :title="message">{{ message }}</h1>
      
        <!--
          Bind to a method/function.
          The @click syntax is short for v-on:click.
        -->
        <button @click="reverseMessage">Reverse Message</button>
      
        <!-- Can also be an inline expression statement -->
        <button @click="message += '!'">Append "!"</button>
      
        <!--
          Vue also provides modifiers for common tasks
          such as e.preventDefault() and e.stopPropagation()
        -->
        <a href="https://vuejs.org" @click.prevent="notify" :title="message">
          A link with e.preventDefault()
        </a>

        <p :class="{red:isRed}" @click="toggleRed" :title="message">
          This should be red..... but clik me to toggle it!!
        </p>

        <button @click="show = !show"> Toogle List</button>
        <button @click="list.push(list.length + 1)"> Push Number </button>

        <button @click="list.pop()"> Pop Number </button>
        <button @click="list.reverse()"> Reverse List </button>

        <ul v-if="show && list.length">
          <li v-for="(item,index) in list"> {{ item }}</li>
        </ul>
        <p v-else-if="list.length"> List is not empty, but hidden</p>
        <p v-else> List is empty!</p>
      </div>
  </body>
</html>